<!--Display races array
races: any[] = [
    {
      name: 'London',
      ponies: [
        { name: 'Gentle Pie', color: 'BLACK' },
        { name: 'Big Soda', color: 'BLUE' },
        { name: 'Gentle Bottle', color: 'GREEN' }
      ],
      date: new Date('2016-06-08T15:00:00+00:00')
    },
    {
      name: 'Lyon',
      ponies: [
        { name: 'Gentle Pie', color: 'BLACK' },
        { name: 'Big Soda', color: 'BLUE' },
        { name: 'Gentle Bottle', color: 'GREEN' }
      ],
      date: new Date('2016-02-28T09:00:00+00:00')
    }
  ];
-->
<table class="table table-striped-columns w-100">
  <thead>
    <tr>
      <td class="col">Date</td>
      <td class="col">Position</td>
      <td class="col">Participants</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let race of races">
      <td>{{race.date}}</td>
      <td>{{race.name}}</td>
      <td>
        <ul>
          <li *ngFor="let pony of race.ponies">{{pony.name}}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
